if (!is_home())
  - var banner_style = (typeof(page.bilibili_banner) != "undefined" && page.bilibili_banner!=null) ? page.bilibili_banner : theme.bilibili_banner.style
  if (banner_style === 'autumn')
    #autumnBanner
      div
        img(src='https://halo-blog-img.oss-cn-hangzhou.aliyuncs.com/BiliBiliBanner/autumn/bilibili-autumn-1.png')
      div
        img(src='https://halo-blog-img.oss-cn-hangzhou.aliyuncs.com/BiliBiliBanner/autumn/bilibili-autumn-2.png')
      div
        img(src='https://halo-blog-img.oss-cn-hangzhou.aliyuncs.com/BiliBiliBanner/autumn/bilibili-autumn-3.png')
      div
        img(src='https://halo-blog-img.oss-cn-hangzhou.aliyuncs.com/BiliBiliBanner/autumn/bilibili-autumn-4.png')
      div
        img(src='https://halo-blog-img.oss-cn-hangzhou.aliyuncs.com/BiliBiliBanner/autumn/bilibili-autumn-5.png')
      div
        img(src='https://halo-blog-img.oss-cn-hangzhou.aliyuncs.com/BiliBiliBanner/autumn/bilibili-autumn-6.png')
  else if (banner_style === 'winter')
    #winterBanner
      .view
        img.morning(src='https://halo-blog-img.oss-cn-hangzhou.aliyuncs.com/BiliBiliBanner/winter/bilibili-winter-view-1.png' alt='')
        img.afternoon(src='https://halo-blog-img.oss-cn-hangzhou.aliyuncs.com/BiliBiliBanner/winter/bilibili-winter-view-2.png' alt='')
        video.evening(autoplay='' loop='' muted='')
          source(src='https://halo-blog-img.oss-cn-hangzhou.aliyuncs.com/BiliBiliBanner/winter/bilibili-winter-view-3.webm' type='video/webm')
        img.window-cover(src='https://halo-blog-img.oss-cn-hangzhou.aliyuncs.com/BiliBiliBanner/winter/bilibili-winter-view-3-snow.png' alt='')
      .tree
        img.morning(src='https://halo-blog-img.oss-cn-hangzhou.aliyuncs.com/BiliBiliBanner/winter/bilibili-winter-tree-1.png' alt='')
        img.afternoon(src='https://halo-blog-img.oss-cn-hangzhou.aliyuncs.com/BiliBiliBanner/winter/bilibili-winter-tree-2.png' alt='')
        img.evening(src='https://halo-blog-img.oss-cn-hangzhou.aliyuncs.com/BiliBiliBanner/winter/bilibili-winter-tree-3.png' alt='')
  else if (banner_style === 'spring')
    #springBanner.springBanner 
      div.layer
        img.i1(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i1.png')(data-move-multiple="16.395")(style="transform: matrix(1, 0, 0, 1, 0, -17.4194)")
      div.layer
        img.i2(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i2.png')(data-move-multiple="16.395")(style="transform: matrix(1, 0, 0, 1, 1277.42, 0)")
      div.layer
        img.i3(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i3.png')(data-move-multiple="12.145")(style="transform: matrix(1, 0, 0, 1, 783.871, 0)")
      div.layer
        img.i4(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i4.png')(data-move-multiple="3.718")(style="transform: matrix(1, 0, 0, 1, -739.742, 0)")
      div.layer
        img.i5(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i5.png')(data-move-multiple="14.573")(style="transform: matrix(1, 0, 0, 1, 705.484, 52.2581)")
      div.layer
        img.i6(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i6.png')(data-move-multiple="29.277")(data-is-opacity="0")(style="transform: matrix(1, 0, 0, 1, 292.645, 42.271)")
      div.layer
        img.i7(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i7.png')(data-move-multiple="2.342")(style="transform: matrix(1, 0, 0, 1, 130.065, 16.2581)")
      div.layer
        img.i8(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i8.png')(data-move-multiple="1.952")(style="transform: matrix(1, 0, 0, 1, -406.452, 56.9032)")
      div.layer
        img.i9(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i9.png')(data-move-multiple="4.098")(data-is-opacity="1")(style="transform: matrix(1, 0, 0, 1, -278.71, 18.5806)")
      div.layer
        img.i10(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i10.png')(data-move-multiple="2.826")(data-is-opacity="1")(style="transform: matrix(1, 0, 0, 1, -394.839, 37.1613)")
      div.layer
        img.i11(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i11.png')(data-move-multiple="1.457")(style="transform: matrix(1, 0, 0, 1, -104.516, 15.6774)")
      div.layer
        img.i12(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i12.png')(data-move-multiple="1.092")(style="transform: matrix(1, 0, 0, 1, 116.129, 0)")
      div.layer
        img.i13(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i13.png')(data-move-multiple="1.104")(style="transform: matrix(1, 0, 0, 1, 250.839, 15.6774)")
      div.layer
        img.i14(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i14.png')(data-move-multiple="0.781")(style="transform: matrix(1, 0, 0, 1, 2438.71, 0)")
      div.layer
        img.i15(src='https://cdn.jsdelivr.net/gh/halo-blog/cdn-blog-img-a@main/BilibiliBannerSpring/i15.png')(data-move-multiple="0.546")(style="transform: matrix(1, 0, 0, 1, -1161.29, 0)")
      div
        canvas#canvas(width="1920")(height="180")
  script(async data-pjax src=url_for(theme.CDN.bilibili_banner))